= form_tag '', :method => :get, :class => "report-parameters" do
  %h2 Report parameters
  - fields.each do |field, value|
    %p
      = label_tag field, field.to_s.humanize
      = text_field_tag "field_values[#{field}]", value
  = submit_tag "Run"
