%h2 Reports

= link_to "New Report", new_report_url

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Actions
  %tbody
    - @reports.each do |report|
      %tr
        %td= h report.name
        %td= h report.description
        %td
          = link_to "Run", report
          = link_to "Edit", edit_report_url(report)

