%h2= h @report.name

%p= h @report.description

%p= link_to "Edit report", edit_report_url(@report)

- unless @report.report_fields.empty?
  = render :partial => "fields", :object => @report.report_fields_with_values, :as => :fields

- unless @report.needs_more_data?
  = render :partial => "results", :object => @report.results
  %p= link_to "Download as .csv", report_url(@report, :format => :csv, :field_values => @report.field_values)

